<h1>All Courses</h1>
<table border="1" cellspacing="0" cellpadding="8">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.code %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add New course", new_course_path %>  |
<%= link_to "Back", root_path %>


